PAYSTACK_SECRET_KEY=
PAYSTACK_CURRENCY=KES
FRONTEND_URL=http://localhost:5173
CORS_ORIGINS=http://localhost:5173
PAYSTACK_CALLBACK_URL=http://localhost:5173/checkout/verify

ADMIN_EMAIL=
ADMIN_PASSWORD=
ADMIN_SESSION_TTL_MS=28800000

SELLER_NOTIFY_EMAIL=
CONTACT_NOTIFY_EMAIL=dantesmedia8@gmail.com

MAILERSEND_API_KEY=mlsn.4a549e084e5fe5870071cbc55245066d34cda419d6a07de57f4d4d3bd74bcc37
MAILERSEND_FROM=info@dantesmediasolution.com
MAILERSEND_REPLY_TO=dantesmedia8@gmail.com


